
    <div class="title">
        <span>
            旅の動画をアップロードしよう！
        </span>
    </div>



<div class="main-container">

    <h1>好きな映画</h1>

    <div class="container">
        <div class="content">
            <div class="title">
                グラディエーター
            </div>
            <div class="text">
                久しぶりに男の色気感じた〜ローマ帝国のことを何よりしれるしこんな歴史があったのかと学べる。
            </div>
        </div>

        <div class="content">
            <div class="title">
                ダークナイト
            </div>
            <div class="text">
                ヒースレジャーのジョーカーが良いと聞いて観賞。こんな戯けたキッチュな、でも極悪でしかもカッコいい悪役はなかなかない。演技が様になりすぎてぞくっとした。
            </div>
        </div>

        <div class="content">
            <div class="title">
                レオン
            </div>
            <div class="text">
                メインキャスト2人とも完全に役にハマっていて、一気にファンになった。アクション要素だけでなく、とても温かい愛情に満ちていて、切ない気持ちにさせられる映画。
            </div>
        </div>

    </div>
</div>

<div class="main-container"><!-- ページ全体 黒枠 -->
    <h1>About</h1><!-- 見出しタグ 赤枠 -->

    <div class="container"><!-- コンテンツが入る箱 青枠 -->
        <div class="image"><!-- 左の画像部分 緑枠 -->
            <img...>
        </div>

        <div class="text-container"><!-- 右のtextが入る箱 緑枠 -->
            <div class="above-text"><!-- 上のtext 紫枠 -->
                GeekSalonは、仲間と一緒に...
            </div>

            <div class="below-text"><!-- 下のtext 紫枠 -->
                1年生から院生まで...
            </div>
        </div>
    </div>
</div>